# Base framework
django

django-filter

# Collection of custom extensions for the Django Framework.
django-extensions

djangorestframework

markdown

# Postgres
psycopg2-binary

pytest-django

factory-boy
freezegun
